<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

</head>
<style>
    body{
        background-image: url('https://images.unsplash.com/photo-1610307766999-01f45d259959?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}
.faq-heading{
    border-bottom: transparent;
    padding: 20px 60px;
    text-decoration: underline;
    text-align: center;

   
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
  
}

.faq-page {
    /* background-color: #eee; */
    color: #ffff;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   color: #fff;
   font-size: large;
   font-style: bold;
   
}


.active,
.faq-page:hover {
    background-color: transparent;
}

.faq-body {
    padding: 0 20px;
    background-color: transparent;
    font:bold;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
p{
    font-size:large;
    font-weight: 200;

}

</style>

<body>
    <main>

        <h1 class="faq-heading">Frequently Asked Questions About Mortgage and Pawn Brokerage <h1>
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h5 class="faq-page">What is Mortgage?</h4>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>A mortgage is a type of loan used to purchase or maintain a home, land, or other types of real estate. 
                    The borrower agrees to pay the lender over time, typically in a series of regular payments that are divided into principal and interest.
                    The property then serves as collateral to secure the loan.</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h5 class="faq-page">How does Mortgage actually work?</h4>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>Individuals and businesses use mortgages to buy real estate without paying the entire purchase price up front. 
                        The borrower repays the loan plus interest over a specified number of years until they own the property free and clear.
                         Most traditional mortgages are fully-amortizing. This means that the regular payment amount will stay the same, but different proportions of principal vs. interest will be paid over the life of the loan with each payment.
                         Typical mortgage terms are for 30 or 15 years. <br>

                       <br> Mortgages are also known as liens against property or claims on property. 
                        If the borrower stops paying the mortgage, the lender can foreclose on the property.
                        
                       <br> For example, a residential homebuyer pledges their house to their lender, which then has a claim on the property.
                        This ensures the lender’s interest in the property should the buyer default on their financial obligation. 
                        In the case of a foreclosure, the lender may evict the residents, sell the property, and use the money from the sale to pay off the mortgage debt.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
            <h5 class="faq-page">What are the types of Mortgage?</h4>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Mortgages come in a variety of forms. The most common types are 30-year and 15-year fixed-rate mortgages. 
                        Some mortgage terms are as short as five years, while others can run 40 years or longer. 
                        Stretching payments over more years may reduce the monthly payment, but it also increases the total amount of interest that the borrower pays over the life of the loan.<br>
                        <br><span>Fixed-Rate Mortgages</span><br>
                     The standard type of mortgage is fixed-rate. With a fixed-rate mortgage, the interest rate stays the same for the entire term of the loan, as do the borrower's monthly payments toward the mortgage. 
                     A fixed-rate mortgage is also called a traditional mortgage. <br>
                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-four">

                <!-- faq question -->
                <h5 class="faq-page">Why do people need Mortgage in this time?</h5>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>The price of a home is often far greater than the amount of money that most households save. 
                     As a result, mortgages allow individuals and families to purchase a home by putting down only a relatively small down payment, such as 20% of the purchase price, and obtaining a loan for the balance.
                        The loan is then secured by the value of the property in case the borrower defaults..</p>
                </div>
            </div>
            <hr class="hr-line">

        <div class="faq-five">
                <h5 class="faq-page">Can anybody get a mortgage?</h5>
            <div class="faq-body">
               <p>Mortgage lenders will need to approve prospective borrowers through an application and underwriting process. 
                Home loans are only provided to those who have sufficient assets and income relative to their debts to practically carry the value of a home over time.
                A person’s credit score is also evaluated when making the decision to extend a mortgage. 
                The interest rate on the mortgage also varies, with riskier borrowers receiving higher interest rates.</p>
            </div>
        </div>
        <hr class="hr-line">

        <div class="faq-six">
            <h5 class="faq-page">What Is a Pawnbroker?</h5>
        <div class="faq-body">
           <p>A pawn broker, or pawn shop is a business which allows you to borrow money against an item you own, or sell it outright.
             In this article we explain more about how pawnbrokers work, and how pawn shops could help <br>

            Pawnbrokers and pawn shops can be a quick and useful way to access money fast when you need it most. 
            If you only need the cash for a short amount of time you may choose to pawn a valuable item you own knowing that you can retrieve it when you have the money to pay back.
             Another convenient way to access money quickly through a pawn shop is to sell them your goods.</p> 
        </div>
    </div>
    <hr class="hr-line">

    <div class="faq-seven">
        <h5 class="faq-page">Is it safe to pawn our valuables?</h5>
    <div class="faq-body">
       <p>Your items stay safe. Pawn shops typically hold your valuables securely in their shops, 
        so you don’t have to worry about leaving them in some unsafe place while you wait for the loan to come through,
         nor do you have to worry about theft or damage while you’re not there.</p> 
    </div>
</div>
<hr class="hr-line">

<div class="faq-eight">
    <h5 class="faq-page">How Much Will I Get If i pawn my valuables?</h5>
<div class="faq-body">
   <p>How much the pawnbroker offers you for your item depends on a number of factors.
     Most importantly the pawnbroker will try to determine how salable the item is. <br>
     Whether they have bought it from you or you have pawned it, the broker needs to be sure he can sell it at a profit should he need to. 
     <br>     Market trends, condition, rarity, and of course the original value of the item.
    <br> Be sure to research local pawn shops before making a decision to ensure you get the best deal possible.</p> 
    
</div>
</div>
<hr class="hr-line">

<div class="faq-nine">
    <h5 class="faq-page">What is the process of pawning like? How long does it take?</h5>
<div class="faq-body">
   <p>Traditional pawnbrokers have a shop with a walk-in counter. <br> 
    When you take your valuables to the shop they get your items valued, and the loan amount offered is based on the pawnbroker’s valuation. <br> The process can take any time between a few minutes, to a few days if it’s a higher-value asset that requires a more extensive valuation.
   <span>You bring in or send an item by post to pawnbroker.
    The pawnbroker will value your asset and make you an offer.
    You can then accept or negotiate the offer.
    If accepted, the asset is kept in storage by the pawnbroker until the loan is paid back.
    At the end of the loan term (usually 3-6 months), the total loan amount and interest will be paid to recover the asset. If the full loan amount isn’t paid, the pawnbroker will proceed with selling the item to recover the loan amount.</p> 
    </span> 
</div>
</div>
<hr class="hr-line">

<div class="faq-ten">
    <h5 class="faq-page">What items can you pawn?</h5>
<div class="faq-body">
   <p>
    Pawn brokers accept a wide range of assets and valuables as security for loans. <br>
     Historically families would pawn their Sunday best clothes to buy essentials during the week, and this method of putting luxury goods aside for an injection of cash is still prevalent. Luxury assets such as jewellery, gold and watches are more common to borrow against. <br>
    <br> Specialist lenders will consider a wider range of exotic assets such as fine wine, designer handbags, art and antiques, prestige cars, musical instruments, etc., while high-street pawnbrokers will now often consider lending against less traditional assets such as electronic devices.</p> 
</div>
</div>
<hr class="hr-line">
        </section>
    </main>
    <script>
var faq = document.getElementsByClassName("faq-page");
var i;

for (i = 0; i < faq.length; i++) {
    faq[i].addEventListener("click", function () {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var body = this.nextElementSibling;
        if (body.style.display === "block") {
            body.style.display = "none";
        } else {
            body.style.display = "block";
        }
    });
}
    </script>
</body>


</html>