<!DOCTYPE html>

<html>

<head>
	<title>
		Pawnbroker age system
	</title>
  <style>
    *
 {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: sans-serif;
}
	.firstsection {
		background-color: transparent;
		height: 200px;
	}

	.box-main {
		display: fixed;
		justify-content: center;
		align-items: center;
		color: black;
		max-width: 90%;
		margin: auto;
		height: 60%;
	}

	.firsthalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.text-big {
		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 35px;
	}

	.text-small {
		font-size: 18px;
	}

	

  </style>
</head>

<body>
	<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="text-big" id="web">
					Different Types of Bank Loans in India
				</h1>
				
				<p class="text-small">
					Loans can be utilised for various things in today's world. It can be used for funding a start-up to buying appliances for your newly purchased house. Let us talk about the different types of loans available in the market and their specific characteristics that make these loans useful to the customers.
				</p>
			</div>
		</div>
	</section>

	<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="text-big" id="web">
					Personal Loans
				</h1>
				<p class="text-small">
					Most banks offer personal loans to their customers and the money can be used for any expense like paying a bill or purchasing a new television. Generally, these loans are unsecured loans. The lender or the bank needs certain documents like proof of assets, proof on income, etc. before approving the personal loan amount. The borrower must have enough assets or income to repay the loan. In case of personal loans, the application is 1 or 2 pages in length. The borrower gets to know about the denial or approval of the loan within a couple of days.

You must remember that the rate of interest associated with these loans can be on the higher side. The tenure of these loans is not that long. So, if you borrow a big amount, it can be difficult for you to repay without planning your finances properly.

Personal loans can prove to be of great help when you wish to take a small amount loan and repay it as soon as possible.
				</p>
			</div>
		</div>
	</section>

	<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="text-big" id="web">
					Credit Card Loans:
				</h1>
                <p class="text-small">
				When you are using a credit card, you must understand that you will have to repay for all the purchases you make at the end of the billing cycle. Credit cards are accepted almost everywhere, even when you are travelling abroad. As it is one of the most convenient ways to pay for the things you buy, it has become a popular loan type.

In order to apply and avail a credit card, all you need to do is fill out a simple application form provided by the card issuer. You can also choose to apply for a credit card online. These plastic cards come with great rewards and benefits. It's the loan where you need to repay on time but you are also handsomely rewarded for using it.

Obviously, there are pitfalls associated with this type of loan. You must understand that there is a high amount of interest on the amounts you borrow on your credit card. If you do not pay your credit card bills on time, the interests will keep piling and might be difficult for you to manage your finances with the rising outstanding balance. But if you use a credit card wisely and clear all your debts on time, it can definitely prove to your best friend in your pocket.
			</p>
		</div>
    </div>
</section>
        <section class="firstsection">
            <div class="box-main">
                <div class="firstHalf">
                    <h1 class="text-big" id="web">
                        Home Loans:
                    </h1>
                    <p class="text-small">
                        When you wish to purchase a house, applying for a home loan can help you to a great extent. It provides you the financial support and helps you buy the house for yourself and your loved ones. These loan generally come with longer tenures (20 years to 30 years). The rates offered by some of the top banks in India with their home loans start at 8.30%. Your credit score is checked before the loan request is approved by the lender. If you have a good credit score, there is a fair chance that you will be able to enjoy lower rates of interest with your home loan.

                        Home loans are primarily taken for buying new homes. However, these loan can also be used for home renovations, home extensions, purchasing land property, under-construction houses, etc.
                </p>
            </div>
        </div>
	</section>
    <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Two-Wheeler Loans:
                        </h1>
                        <p class="text-small">
                            A two-wheeler is pretty essential in today's world. May it be going for a long ride or a busy road in a city - bikes and scooters help you to commute conveniently. A two-wheeler loan is easy to apply for. This amount you borrow under this loan type helps you to purchase a two-wheeler. But if you do not pay the instalments on time and clear your debt, the insurer will take your two-wheeler to recover the loan amount.
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Car Loans:
                        </h1>
                        <p class="text-small">
                            Buying a car can definitely instil a great sense of joy and happiness in you. A car will remain as your asset and it is going to be one of the biggest investments that you make. A car loan helps you to pave the path between your dream of owning a car and actually buying your car. Since credit reports are crucial for judging your eligibility towards any loan, it is good to have a high credit score when you apply for a car loan. The loan application will get approved easily and you might get a lower rate of interest associated with the loan.

Car loans are secured loans. If you fail to pay your instalments, the lender will take back your car and recover the outstanding debt.
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Small Business Loans:
                        </h1>
                        <p class="text-small">
                            Small Business Loans are loans that are provided to small scale and medium scale businesses to meet various business requirements. These loans can be used for a variety of purposes that help in growing the business. Some of these could include purchase of equipment, buying inventory, paying the salaries of employees, marketing expenses, paying off business debts, meeting administrative expenses, or even to open a new branch or take up a franchise.

                            The eligibility criteria for small business loans varies from lender to lender, but the common ones are the age of the business owner, the number of years the business has been operational, income tax returns, and statement of the previous year's turnover that has been audited by a Chartered Accountant (CA).
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Home Renovation Loan:
                        </h1>
                        <p class="text-small">
                            Home innovation loans are offered by most lenders. These can be availed to meet the expenses related to renovation, repairs, or improvement of an existing residential property. Depending on the lender, there is a lot of flexibility with what you can do with a home renovation loan. You can use it to buy products or pay for services. For example, you can use it to pay for the services of a contractor, architect, or interior decorator. You can also use it to buy furniture, furnishings, or household appliances such as a refrigerator, washing machine, air conditioner, etc. It can be used for painting, carpentry, or masonry work as well.
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Agriculture Loan:
                        </h1>
                        <p class="text-small">
                            Agriculture loans are loans that are provided to farmers to meet the expenses of their day-to-day or general agricultural requirements. These loans can be short term or long term. They can be used for raising working capital for crop cultivation or to buy agricultural equipment.
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Gold Loan:
                        </h1>
                        <p class="text-small">
                            A gold loan can be used to raise cash to meet emergency or planned financial requirements, such as business expansion, education, medical emergencies, agricultural expenses, etc. The loan against gold is a secured loan where gold is placed as security or collateral in return for a loan amount that corresponds to the per gram market value of gold on the day that the gold has been pledged. Any other metals, gems, or stones that are in the jewelry will not be calculated when determining the value of the gold loan.
    
                        </p>
                    </div>
                </div>
            </section>
            <section class="firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <h1 class="text-big" id="web">
                            Education Loan
                        </h1>
                        <p class="text-small">
                            An education loan is availed specifically to finance educational requirements towards school or college. Depending on the lender, it will cover the basic fees of the course, the exam fees, accommodation fees, and other miscellaneous charges. The student is the borrower with any other close relative being the co-applicant, such as a parent, grandparent, spouse, or sibling. It can be availed for courses in India or abroad. It can be taken for a wide variety of recognised courses which are either part time or full time. They cover vocational courses as well as undergraduate and postgraduate courses.
    
                        </p>
                    </div>
                </div>
            </section>

</body>

</html>
